.button {
    background-color: #e9ecef; 
    border: none;
    color: black;
    padding: 20px;
    text-align: auto;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}