<div class="container">
  <h1>Survey Forms</h1>
  <div class="jumbotron" *ngFor="let form of forms; let i=index">
    <app-child-form (outputEvent)=" logChild(i); log($event)"></app-child-form>
    <button *ngIf="forms.length>1" class="btn btn-danger" (click)="deleteForm(i)">delete</button>
  </div>
  <br>
  <button class="btn btn-warning" type="button" (click)="addForm()">Add New Form</button>
  <div *ngIf="emitted" class="form-group">
    <form [formGroup]="myForm">
      <formly-form [form]="myForm" [fields]="fields">
      </formly-form>
    </form>
  </div>
</div>