<div class="jumbotron">
  <form [formGroup]="userForm">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="enter form description" formControlName="desc">
    </div>
    <div *ngIf="!selected" class="form-group">
      <select class="form-control" formControlName="select">
        <option value="checkBox">Checkbox</option>
        <option value="radioButton">Radio Button</option>
        <option value="textField">Text Field</option>
      </select>
      <br>
      <button type="submit" class="btn btn-success" (click)="select()" [disabled]="!userForm.controls.select.valid">Create Form</button>
    </div>
    <div *ngIf="box" class="form-group">
      <input type="text" class="form-control" id="boxValue" placeholder="Enter checkbox option" formControlName="boxVal">
      <br>
      <button type="button" class="btn btn-primary" (click)="addBox()">Add checkbox</button>  
    </div>
    <div *ngFor="let item of userForm.get('boxes')['controls']; let i=index" class="form-group">
      <input type="checkbox"> {{item.value}}
      <button *ngIf="boxButton" type="button" class="button" (click)="deleteBox(i)">x</button>
      <button *ngIf="boxButton" type="button" class="button" (click)="editABox(i)">edit</button>
      <div *ngIf="boxEditing[i]" class="form-group">
          <input type="text" [value]="tempEditBox" id="editbox" class="form-control input-sm" [formControl]="editable">
          <button type="button" class="btn btn-success" (click)="editedABox(i)">update</button>
        </div>
    </div>
    <div *ngIf="boxButton" class="form-group">
      <button type="button" class="btn btn-danger" (click)="done()">Done</button>
    </div>
    <div *ngIf="radio" class="form-group">
      <input type="text" class="form-control" id="radioValue" placeholder="Enter radio button option" formControlName="radioVal">
      <br>
      <button type="button" class="btn btn-primary" (click)="addRadio()">Add Radio Button</button>  
    </div>
    <div *ngFor="let item of userForm.get('radios')['controls']; let i=index" class="form-group">
      <input type="radio" name="arin"> {{item.value}}
      <button *ngIf="radioButton" type="button" class="button" (click)="deleteRadio(i)">x</button>
      <button *ngIf="radioButton" type="button" class="button" (click)="editARadio(i)">edit</button>
      <div *ngIf="radioEditing[i]" class="form-group">
          <input type="text" [value]="tempEditBox" id="editbox" class="form-control input-sm" [formControl]="editable">
          <button type="button" class="btn btn-success" (click)="editedARadio(i)">update</button>
        </div>
    </div>
    <div *ngIf="radioButton" class="form-group">
      <button type="button" class="btn btn-danger" (click)="done()">Done</button>
    </div>


    <div *ngIf="text" class="form-group">
      <input type="text" class="form-control" id="textValue" placeholder="Enter textbox placeholder" formControlName="textVal">
      <br>
      <button type="button" class="btn btn-primary" (click)="addTextbox()">Add Text Box</button>  
    </div>
    <div *ngFor="let item of userForm.get('textBoxes')['controls']; let i=index" class="form-group">
      <input class="form-control input-sm" type="text" name="arin" [placeholder]="item.value">
      <button *ngIf="textButton" type="button" class="button" (click)="deleteTextbox(i)">x</button>
      <button *ngIf="textButton" type="button" class="button" (click)="editATextbox(i)">edit</button>
      <div *ngIf="textEditing[i]" class="form-group">
          <input type="text" [value]="tempEditBox" id="edittext" class="form-control input-sm" [formControl]="editable">
          <button type="button" class="btn btn-success" (click)="editedATextbox(i)">update</button>
        </div>
    </div>
    <div *ngIf="textButton" class="form-group">
      <button type="button" class="btn btn-danger" (click)="done()">Done</button>
    </div>



    <div class="form-group">
      <button *ngIf="userForm.controls.boxes.controls[0] && !box && !boxButton" type="button" class="btn btn-primary" (click)="editBox()">edit</button>
      <button *ngIf="userForm.controls.radios.controls[0] && !radio && !radioButton" type="button" class="btn btn-primary" (click)="editRadio()">edit</button>
      <button *ngIf="userForm.controls.textBoxes.controls[0] && !text && !textButton" type="button" class="btn btn-primary" (click)="editText()">edit</button>
    </div>
  </form>
</div>

